<ion-navbar *navbar>
  <ion-title>About</ion-title>
  <button menuToggle end (click)="tutorial()" showWhen="ios">
    <ion-icon name="bulb" primary></ion-icon>
  </button>
  <button menuToggle end (click)="tutorial()" hideWhen="ios">
    <ion-icon name="bulb" light></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="ios">
    <ion-icon name="log-in" primary></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" hideWhen="ios">
    <ion-icon name="log-in" light></ion-icon>
  </button>
  <button menuToggle end (click)="logout()" *ngIf="status" hideWhen="ios">
    <ion-icon name="log-out" light></ion-icon>
  </button>
  <button menuToggle end (click)="logoutIos()" *ngIf="status" showWhen="ios">
    <ion-icon name="log-out" primary></ion-icon>
  </button>
</ion-navbar>

<ion-content>
  <div>
    <img src="img/ipb.png" width="100%">
  </div>
  <ion-card>
    <div padding class="about-info">
      <h2 primary>IPB Green Campus</h2><hr />
      <p>
        IPB Green Campus adalah kampus yang memiliki komitmen tinggi dalam membangun budaya peningkatan efisiensi energi, konservasi sumberdaya dan peningkatan kualitas lingkungan dengan mendidik untuk menciptakan hidup sehat dan lingkungan belajar yang kondusif secara bekelanjutan.
      </p>
      <hr />
      <div>
        <ion-icon name="calendar" dark></ion-icon>
        <span primary>BLST IPB, BEM KM IPB, Himalkom IPB</span>
      </div>


      <div dark>
        <ion-icon name="people"></ion-icon>
        <span primary>Ivan Maulana, Muhammad Rizqi, Fakhri Izzudin</span>
      </div>
    </div>
  </ion-card>


  <ion-card>
    <div padding class="about-info">
      <div class="dark text-center">
        <p>
          Segala bentuk kehilangan atau kerusakan sepeda yang dipinjam akan menjadi tanggung jawab peminjam,
          dan <b primary><i>harus dipertanggung jawabkan</i></b> sebelum peminjam lulus (diwisuda).
      </div>
    </div>
  </ion-card>


  <ion-card>
    <div padding class="about-info">
      <div *ngIf="status">
        <div primary text-center>
          <span primary>Kamu bisa kirim saran, pendapat, atau kritik tentang <i>Green Campus</i> disini.
        Pesan kamu akan langsung terkirim ke pelaksana <i>Green Campus</i>
          </span>
        </div>
        <ion-card>
          <ion-item>
            <ion-textarea [(ngModel)]="pesan" placeholder="Ketik Pesan Kamu Disini" rows="10"></ion-textarea>
          </ion-item>
        </ion-card>
        <div text-center>
          <button (click)="kirim()">Kirim Pesan</button>
        </div>
      </div>

      <div *ngIf="!status">
        <div primary text-center>
          <span primary>Kamu bisa kirim saran, pendapat, atau kritik tentang <i>Green Campus</i> disini.
        Pesan kamu akan langsung terkirim ke pelaksana <i>Green Campus</i>
          </span>
        </div>
        <hr />
        <div text-center>
          <span >Kamu Harus <a (click)="login()" primary><b>Login</b></a> Untuk Memberikan Pesan.
          </span>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
