<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="ai.dashboard">
      <i class="glyphicon glyphicon-th-large icon"></i>
      <span class="font-bold">Dashboard</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="ai.sepeda">
      <i class="glyphicon glyphicon-asterisk icon"></i>
      <span class="font-bold">Sepeda</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="ai.penjaga">
      <i class="glyphicon glyphicon-user icon"></i>
      <span class="font-bold">Penjaga</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="ai.mahasiswa">
      <i class="glyphicon glyphicon-sort-by-alphabet icon"></i>
      <span class="font-bold">Mahasiswa</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="ai.peminjaman">
      <i class="glyphicon glyphicon-random icon"></i>
      <span class="font-bold">Peminjaman</span>
    </a>
  </li>
</ul>
<!-- / list -->