<ion-navbar *navbar>
  <ion-title>Home</ion-title>
  <button menuToggle end (click)="tutorial()" showWhen="ios,windows">
    <ion-icon name="bulb" primary></ion-icon>
  </button>
  <button menuToggle end (click)="tutorial()" hideWhen="windows,ios">
    <ion-icon name="bulb" light></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="ios,windows">
    <ion-icon name="log-in" primary></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" hideWhen="windows,ios">
    <ion-icon name="log-in" light></ion-icon>
  </button>
  <button menuToggle end (click)="logout()" *ngIf="status" hideWhen="windows,ios">
    <ion-icon name="log-out" light></ion-icon>
  </button>
  <button menuToggle end (click)="logoutIos()" *ngIf="status" showWhen="ios,windows">
    <ion-icon name="log-out" primary></ion-icon>
  </button>
</ion-navbar>

<ion-content>
  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div padding *ngIf="!status">
    <div text-center>
      <p danger>
        Silahkan login dengan Akun IPB kamu untuk melihat QR Code & data kamu.
      </p>
      <button (click)="login()">Login</button>
    </div>
  </div>

  <div *ngIf="status">
    <br />
    <div class="row" align="center">
      <button primary (click)="change()">Code Kamu</button>
    </div>
    <div class="row">
      <div align="center" *ngIf="!code">
        <br /><img width="60%" src="data:image/png;base64,{{qrcode}}">
      </div>
      <div align="center" *ngIf="code">
        <img width="60%" src="data:image/png;base64,{{barcode}}">
      </div>
    </div>

    <ion-card>
      <ion-item>
        <h2>{{nim}}</h2>
        <p>{{nama}}</p>
        <button item-right danger>Denda = Rp. {{denda}}</button>
      </ion-item>
      <ion-row align="center">
        <ion-col width-100>
          <ion-icon primary *ngIf="mahasiswastatus === '0'" name="md-checkmark-circle" style="font-size:42px"></ion-icon>
          <ion-icon danger *ngIf="mahasiswastatus === '1'" name="close-circle" style="font-size:42px"></ion-icon>
          <br>
          <p *ngIf="mahasiswastatus === '1'">Sedang Pinjam</p>
          <p *ngIf="mahasiswastatus === '0'">Tidak Sedang Pinjam</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div text-center *ngIf="posts">
    <ion-card><br />
    <h2 primary><b>Jumlah sepeda di shelter saat ini</b></h2>
    <div *ngFor="#post of posts">
      <ion-grid>
        <ion-row>
          <ion-col width-20><h2 instagram><b>{{post.shelter1}}</b></h2><br />GWW</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter2}}</b></h2><br />GWW-2</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter3}}</b></h2><br />ASTRI</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter4}}</b></h2><br />ASTRA</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter5}}</b></h2><br />MENWA</ion-col>
        </ion-row>
        <hr />
        <ion-row>
          <ion-col width-20><h2 instagram><b>{{post.shelter6}}</b></h2><br />FATETA</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter7}}</b></h2><br />ALHUR</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter8}}</b></h2><br />SYLVA</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter9}}</b></h2><br />FAPET</ion-col>
          <ion-col width-20><h2 instagram><b>{{post.shelter10}}</b></h2><br />REKTORAT</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </ion-card>
  </div>

  <ion-card (click)="openModal()"><br />
    <h2 primary text-center><b>Peta Shelter Sepeda dan Parkir</b></h2><br />
    <img src="img/rute/sepeda-parkir.jpg"/><br />
    <div text-center>
      <h3 primary><b>Jadwal Operasional</b></h3><br />
      <p>
        <span instagram>Operasional Shelter Sepeda</span> : 06.00 - 18.00<br />
        <span instagram>Operasional Parkir Motor</span> : 06.00 - 24.00<br />
      </p><br />
    </div>
  </ion-card>
  <br />

</ion-content>
