<ion-header>
  <ion-toolbar>
    <ion-title>
      Belum Pengembalian
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span primary showWhen="ios">Cancel</span>
        <ion-icon light name="md-close" hideWhen="ios,windows"></ion-icon>
        <ion-icon primary name="md-close" showWhen="windows,ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (refresh)="doRefresh1($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div padding-left padding-right>
    <p>
      <span danger text-center><b>Belum Mengembalikan</b></span><br /><br />
      <span grey>Berikut list sepeda dan mahasiswa yang belum mengembalikan sepeda lebih dari 1 hari.</span><br /><br />
      <span grey>Silahkan melakukan pengembalian sepeda, atau hubungi pelaksana IPB Green Transportation di Bale Wartawan Rektorat</span>
    </p>
  </div>

  <div *ngIf="!response" text-center>
      <ion-spinner></ion-spinner>
  </div>

  <div *ngFor="#res of response">
    <ion-card>
      <ion-item>
        <div item-left text-center>
          <ion-icon name="bicycle" primary width="100%" small></ion-icon><br />
          <p>
            <span width="10px" danger>{{res.sepeda}}</span>
          </p>
        </div>
        <h3 instagram>{{res.mahasiswaNim}}</h3>
        <p>{{res.mahasiswaNama}}</p>
        <div item-right large>
          <ion-icon name="time" instagram></ion-icon>  {{res.time}}
        </div>
      </ion-item>
    </ion-card>
  </div>
  <br /><br /><br /><br />

</ion-content>
