<ion-navbar *navbar class="hide-border">
  <ion-title>Home</ion-title>
  <button menuToggle end (click)="tutorial()" showWhen="ios">
    <ion-icon name="bulb" primary></ion-icon>
  </button>
  <button menuToggle end (click)="tutorial()" showWhen="windows">
    <ion-icon name="bulb" primary></ion-icon>
  </button>
  <button menuToggle end (click)="tutorial()" showWhen="android">
    <ion-icon name="bulb" light></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="ios">
    <ion-icon name="log-in" primary></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="windows">
    <ion-icon name="log-in" primary></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="android">
    <ion-icon name="log-in" light></ion-icon>
  </button>
  <button menuToggle end (click)="logout()" *ngIf="status" showWhen="android">
    <ion-icon name="log-out" light></ion-icon>
  </button>
  <button menuToggle end (click)="logoutIos()" *ngIf="status" showWhen="ios">
    <ion-icon name="log-out" primary></ion-icon>
  </button>
  <button menuToggle end (click)="logoutIos()" *ngIf="status" showWhen="windows">
    <ion-icon name="log-out" primary></ion-icon>
  </button>
</ion-navbar>

<ion-content class="rank">
  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-item>
      <h2 primary>
        Peminjaman Sepeda Hari Ini :
      </h2>
      <div item-right>
        <h1 instagram><b>{{pinjaman}}</b></h1>
      </div>
    </ion-item>
  </ion-card>

  <br />
  <div padding-left>
    <p primary>
      <b>Peminjam Sepeda Terbanyak</b>
    </p>
  </div>

  <div *ngIf="!rankings" text-center>
      <ion-spinner></ion-spinner>
  </div>

  <div *ngFor="#ranking of rankings;  let i = index">
    <ion-card>
      <ion-item>
        <ion-icon *ngIf="i == 0" name="trophy" gold width="100%" large item-left></ion-icon>
        <ion-icon *ngIf="i == 1" name="trophy" primary width="100%" large item-left></ion-icon>
        <ion-icon *ngIf="i == 2" name="trophy" instagram width="100%" large item-left></ion-icon>
        <ion-icon *ngIf="i == 3" name="trophy" silver width="100%" large item-left></ion-icon>
        <ion-icon *ngIf="i == 4" name="trophy" bronze width="100%" large item-left></ion-icon>
        <h3 primary>{{ranking.mahasiswaNama}}</h3>
        <p>{{ranking.mahasiswaNim}}</p>
        <div item-right large>
          <span grey><b instagram>{{ranking.banyakPinjaman}}</b> Poin</span>
        </div>
      </ion-item>
    </ion-card>
  </div>


  <br />
  <div padding-left>
    <p primary>
      <b>Peminjam Terkini</b>
    </p>
  </div>

  <div *ngIf="!rankings" text-center>
      <ion-spinner></ion-spinner>
  </div>

  <ion-card>
    <ion-list>
      <ion-item  *ngFor="#recent of recents">
        <span grey>
          {{recent.mahasiswaNama}}
        </span>
        <div item-right instagram>
          <p>
            <ion-icon name="time" instagram></ion-icon> {{recent.time}}
          </p>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <div class="dark text-center" padding>
      <p>
        <b primary>Hai</b>. Kamu bisa membantu <span primary>mengingatkan</span> teman kamu yang belum mengembalikan sepeda lebih dari 1 hari.
      </p>
    </div>
    <div text-center>
      <button danger outline text-center (click)="openModal()">
        Lihat Yang Belum Mengembalikan
      </button>
    </div>
    <br />
  </ion-card>

</ion-content>
