<ion-navbar *navbar class="hide-border">
  <ion-title>Home</ion-title>
  <button menuToggle end (click)="tutorial()" showWhen="ios">
    <ion-icon name="bulb" primary></ion-icon>
  </button>
  <button menuToggle end (click)="tutorial()" showWhen="windows">
    <ion-icon name="bulb" primary></ion-icon>
  </button>
  <button menuToggle end (click)="tutorial()" showWhen="android">
    <ion-icon name="bulb" light></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="ios">
    <ion-icon name="log-in" primary></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="windows">
    <ion-icon name="log-in" primary></ion-icon>
  </button>
  <button menuToggle end (click)="login()" *ngIf="!status" showWhen="android">
    <ion-icon name="log-in" light></ion-icon>
  </button>
  <button menuToggle end (click)="logout()" *ngIf="status" showWhen="android">
    <ion-icon name="log-out" light></ion-icon>
  </button>
  <button menuToggle end (click)="logoutIos()" *ngIf="status" showWhen="ios">
    <ion-icon name="log-out" primary></ion-icon>
  </button>
  <button menuToggle end (click)="logoutIos()" *ngIf="status" showWhen="windows">
    <ion-icon name="log-out" primary></ion-icon>
  </button>
</ion-navbar>

<ion-content class="outer-content speaker-list">
  <div>
  <ion-slides pager zoom="1" zoomDuration="1" zoomMax="10">
    <ion-slide zoom>
      <ion-card>
        <img (click)="openModal({maps: 0})" src="img/rute/koridor-1.jpg" width="100%"/>
        <ion-card-content>
          <ion-card-title>
            <h2 primary><b>Koridor 1</b></h2>
          </ion-card-title>
          <p>
            GWW - BERLIN - MIPA - ASTRI - TANOTO - MENWA - FAHUTAN - ASRAMA INTER - ALHURR - GOR - FPIK - FKH
          </p><hr /><br />
          <h2 primary><b>Jadwal Koridor</b></h2>
          <!-- <button outline instagram text-center (click)="jadwal()">Koridor 1</button>
          <button outline twitter text-center>Per Shelter</button> -->
          <!-- <ion-list *ngFor="#jadwal of koridor1">
            <ion-item>
              <ion-label>Jadwal Shelter</ion-label>
              <ion-select [(ngModel)]="gaming">
                <ion-option value="nes" checked="true">Pilih Shelter</ion-option>
                <ion-option value="1">{{jadwal.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list> -->
          <p>
            <span primary>Jadwal Kedatangan Bis</span> : Setiap 8 Menit<br />
            <span primary>Waktu Operasi</span> : 06.00 - 18.00<br />
          </p><br />
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img (click)="openModal({maps: 1})" src="img/rute/koridor-2.jpg" width="100%"/>
        <ion-card-content>
          <ion-card-title>
            <h2 primary><b>Koridor 2</b></h2>
            </ion-card-title>
          <p>
            TANOTO - FAHUTAN - FATETA - LSI - TECHNO - ASRAMA INTER - ALHURR - GOR - FPIK - FAPET - FKH
          </p><hr /><br />
          <h2 primary><b>Jadwal Koridor</b></h2>
          <p>
            Koridor ini hanya dilayani oleh <span primary><b>Mobil Listrik</b></span>
          </p><br /><br />
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img (click)="openModal({maps: 2})" src="img/rute/koridor-3.jpg" width="100%"/>
        <ion-card-content>
          <ion-card-title>
            <h2 primary><b>Koridor 3</b></h2>
            </ion-card-title>
          <p>
            GWW - FEM - LSI - TECHNO - ALHURR - GOR - FPIK - FKH
          </p><hr /><br />
          <h2 primary><b>Jadwal Koridor</b></h2>
          <p>
            <span primary>Jadwal Kedatangan Bis</span> : Setiap 8 Menit<br />
            <span primary>Waktu Operasi</span> : 06.00 - 18.00<br />
          </p><br /><br />
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img (click)="openModal({maps: 3})" src="img/rute/koridor-4.jpg" width="100%"/>
        <ion-card-content>
          <ion-card-title>
            <h2 primary><b>Koridor 4</b></h2>
            </ion-card-title>
          <p>
            GWW - KKI/PASCA - REKTORAT - PARKIR GTV - LAB - FKH
          </p><hr /><br />
          <h2 primary><b>Jadwal Koridor</b></h2>
          <p>
            <span primary>Jadwal Kedatangan Bis</span> : Setiap 24 Menit<br />
            <span primary>Waktu Operasi</span> : 06.00 - 18.00<br />
          </p><br /><br />
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img (click)="openModal({maps: 4})" src="img/rute/koridor-5.jpg" width="100%"/>
        <ion-card-content>
          <ion-card-title>
            <h2 primary><b>Koridor 5</b></h2>
            </ion-card-title>
          <p>
            GERBANG BELAKANG - ASTRA - MENWA - ASRAMA INTER - AL HURR - PERUMDOS
          </p><hr /><br />
          <h2 primary><b>Jadwal Koridor</b></h2>
          <p>
            Koridor ini hanya dilayani oleh <span primary><b>Mobil Listrik</b></span>
          </p>
          <p>
            Tidak beroperasi pada pukul : <span danger><b>10.00 - 14.00</b></span>
          </p>
          <br /><br />
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  </div>

  <ion-card>
    <br />
    <div text-center>
      <button primary outline text-center (click)="openMaps()">
        Lihat Peta Semua Koridor
      </button>
      <p text-center>
        <span grey>*Butuh koneksi internet.</span>
      </p>
    </div>
    <br />
  </ion-card>
</ion-content>
